In [1]:
import pandas as pd

d = {'age': ['1-5', '6-15', '16-20', '21-50', '51-80', '81-110'],
     'freq':[200,450,300,1500,700,44]}
df = pd.DataFrame(data = d)
df.head()

     age  freq
0    1-5   200
1   6-15   450
2  16-20   300
3  21-50  1500
4  51-80   700

## Equation for calculating median for grouped data

In [6]:
df['cumul_sum'] = df['freq'].cumsum()
df

      age  freq  cumul_sum
0     1-5   200        200
1    6-15   450        650
2   16-20   300        950
3   21-50  1500       2450
4   51-80   700       3150
5  81-110    44       3194

In [7]:
3194/2

1597.0

In [4]:
L1 = 21
width = 50 - L1
freq_median = 1500
n = df.freq.sum()
sum_before_median_interval = 950

In [5]:
median = L1 + ((n/2 - sum_before_median_interval)/freq_median) * width
median

33.50866666666667

**Another Example**

Let's create an example with 100 dogs sorted into 5 classes based on their sizes in pounds. We'll find the median size using the interpolation formula.
Suppose the dogs are grouped into the following classes:

* Class 1: 1 to 10 pounds (10 dogs)
* Class 2: 11 to 20 pounds (20 dogs)
* Class 3: 21 to 30 pounds (30 dogs)
* Class 4: 31 to 40 pounds (25 dogs)
* Class 5: 41 to 50 pounds (15 dogs)

**We want to find the median size, which is the size of the 50th dog (since there are 100 dogs in total).**
Here's how we'll use the formula:
Total Number of Dogs (n): 100 dogs.
    Low Interval Limit (L): The 50th dog falls into Class 3, so the low interval limit is 21 (the starting number of Class 3).
Cumulative Frequency Before the Median Class (F): This is the total number of dogs in the classes before Class 3, which is 10 + 20 = 30.
Frequency of the Median Class (f): This is the number of dogs in Class 3, which is 30.
Class Width (c): This is the difference between the numbers on two neighboring classes. In this case, it's 10.
Now we plug these numbers into the formula:
Median=21+(100/2−30)/30×10
Median=27.67
So the median size is approximately 27.67 pounds, which means the middle dog's size is somewhere between the 27th and 28th pounds in Class 3.